<!DOCTYPE html>
<html>
  <head>
    <meta charset="gbk" />
    <title> poem-FM </title>
    <meta name="Keywords" content="poem-FM" />
    <meta name="Description" content="poem-FM" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/poem.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/PubSubJS/src/pubsub.js"></script>
    <script src="/bower_components/react/docs/js/react.js"></script>
    <script src="/bower_components/react/vendor/react-dom.js"></script>
    <!-- <script src="/bower_components/babel/browser.min.js"></script> -->
    <!-- <script src="/bower_components/react/p_babel.min.js"></script> -->
  </head>
  <body>
    <script>
        window.initData = '<%- userInfo %>';
    </script>
    <div id="appContainer">
      <div>
        <%-component%>
      </div>
    </div>
  </body>
  <script src="js/bundle.js"></script>
</html>