<div class="tk-console">
    <i class="icon-tasks fa fa-tasks"></i>
    <h3 class="top-tk-title">工作台</h3>
    <div class="top-tk-tabs">
        <div class="tab cur">我的任务</div>
        <div class="tab">我的日程</div>
        <div class="tab">最新动态</div>
        <div class="tab">我的邮件</div>
    </div>
    <div class="top-tk-finesh-btn pull-right">
        查看已完成任务
    </div>
</div>